body {
  font-family: sans-serif;
}

.parent {
  display: flex;
  flex-direction: row;
}

#iframe {
  width: 425px;
  height: 760px;
  border: 1px solid black;
}

.iframe-message {
  margin-left: 5rem;
}

#message {
  width: 30rem;
  height: 12rem;
  border: 1px solid #cbd5e0;
  overflow: auto;
}
